Vps/VPS/src/VstoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://inm381/vstos" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://inm381/vstos/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax227="http://CommonLibrary/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://inm381/vstos">
    <wsdl:documentation>VstoService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://CommonLibrary/xsd">
            <xs:complexType name="Results">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resultlist" nillable="true" type="ax227:Vehicle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Vehicle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="maker" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="milage" type="xs:long"/>
                    <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:int"/>
                    <xs:element minOccurs="0" name="yearofreg" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax228="http://CommonLibrary/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inm381/vstos/xsd">
            <xs:import namespace="http://CommonLibrary/xsd"/>
            <xs:element name="getResults">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax227:Results"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="emptyResults">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="emptyResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="storeResults">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="res" nillable="true" type="ax227:Results"/>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="storeResultsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="storeVehicle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="v" nillable="true" type="ax227:Vehicle"/>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="storeResultsRequest">
        <wsdl:part name="parameters" element="ns:storeResults"/>
    </wsdl:message>
    <wsdl:message name="storeResultsResponse">
        <wsdl:part name="parameters" element="ns:storeResultsResponse"/>
    </wsdl:message>
    <wsdl:message name="getResultsRequest">
        <wsdl:part name="parameters" element="ns:getResults"/>
    </wsdl:message>
    <wsdl:message name="getResultsResponse">
        <wsdl:part name="parameters" element="ns:getResultsResponse"/>
    </wsdl:message>
    <wsdl:message name="emptyResultsRequest">
        <wsdl:part name="parameters" element="ns:emptyResults"/>
    </wsdl:message>
    <wsdl:message name="emptyResultsResponse">
        <wsdl:part name="parameters" element="ns:emptyResultsResponse"/>
    </wsdl:message>
    <wsdl:message name="storeVehicleRequest">
        <wsdl:part name="parameters" element="ns:storeVehicle"/>
    </wsdl:message>
    <wsdl:portType name="VstoServicePortType">
        <wsdl:operation name="storeResults">
            <wsdl:input message="axis2:storeResultsRequest" wsaw:Action="urn:storeResults"/>
            <wsdl:output message="axis2:storeResultsResponse" wsaw:Action="urn:storeResultsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getResults">
            <wsdl:input message="axis2:getResultsRequest" wsaw:Action="urn:getResults"/>
            <wsdl:output message="axis2:getResultsResponse" wsaw:Action="urn:getResultsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="emptyResults">
            <wsdl:input message="axis2:emptyResultsRequest" wsaw:Action="urn:emptyResults"/>
            <wsdl:output message="axis2:emptyResultsResponse" wsaw:Action="urn:emptyResultsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="storeVehicle">
            <wsdl:input message="axis2:storeVehicleRequest" wsaw:Action="urn:storeVehicle"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VstoServiceSoap11Binding" type="axis2:VstoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="storeResults">
            <soap:operation soapAction="urn:storeResults" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResults">
            <soap:operation soapAction="urn:getResults" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="emptyResults">
            <soap:operation soapAction="urn:emptyResults" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="storeVehicle">
            <soap:operation soapAction="urn:storeVehicle" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://inm381/vstos"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VstoService">
        <wsdl:port name="VstoServiceHttpSoap11Endpoint" binding="axis2:VstoServiceSoap11Binding">
            <soap:address location="http://localhost:8888/axis2/services/VstoService.VstoServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
